<div class="form-container">
    <div class="form-card">
      <h2>Create Your Advertisement</h2>
      <form (ngSubmit)="onSubmit()" #adForm="ngForm">
        <div class="form-group">
          <label for="image">Advertisement Image</label>
          <div class="file-upload">
            <input
              type="file"
              id="image"
              (change)="onFileSelected($event)"
              accept="image/*"
              required
            />
            <div class="file-upload-label">
              <span>{{ advertisement.image?.name || 'Choose an image' }}</span>
              <button type="button" class="browse-button">Browse</button>
            </div>
          </div>
        </div>
  
        <div class="form-group">
          <label for="size">Advertisement Size</label>
          <div class="size-options">
            <div class="size-grid">
              <div *ngFor="let size of sizes" class="size-option">
                <input
                  type="radio"
                  [id]="'size-' + size.value"
                  name="size"
                  [value]="size.value"
                  [(ngModel)]="advertisement.size"
                  required
                />
                <label [for]="'size-' + size.value" class="size-label">
                  <span class="size-name">{{ size.label }}</span>
                  <span class="size-name">price:</span>
                  <div class="size-preview" [class]="'preview-' + size.value"></div>
                </label>
              </div>
            </div>
          </div>
        </div>
  
        <div class="form-group">
          <label for="weeks">Number of Weeks</label>
          <input
            type="number"
            id="weeks"
            name="weeks"
            [(ngModel)]="advertisement.numOfWeeks"
            required
            min="1"
            max="52"
          />
        </div>
  
        <button type="submit" class="submit-button" [disabled]="!adForm.form.valid">
          Submit Advertisement
        </button>
      </form>
    </div>
  </div>

