<div class="newspaper-container">
  <div class="navigation">
    <button (click)="previousPage()" [disabled]="!hasPreviousPage">
      ← Previous
    </button>
    <button (click)="nextPage()" [disabled]="!hasNextPage">
      Next →
    </button>
    <button (click)="downloadPDF()" class="download-btn">
      Download PDF
    </button>
  </div>

  <div class="page" *ngIf="currentPage">
    <div class="page-header">
      <h1>Newspaper Ads</h1>
      <h2>Page {{ currentPage.pageNumber }}</h2>
    </div>
    
    <div class="newspaper-grid">
      <ng-container *ngFor="let ad of currentPage.advertisements">
        <div [class]="'ad-block size-' + getSizeClass(ad.size)">
          <div class="ad-content">
            <div class="image-wrapper">
              <img [src]="getSafeImageUrl(ad.image)" [alt]="'Advertisement ' + ad.numOfAd">
            </div>
            <div class="ad-details">
              <span class="ad-number">Ad #{{ ad.numOfAd }}</span>
              <span class="ad-size">{{ getSizeName(ad.size) }}</span>
              <span class="ad-weeks">{{ ad.numOfWeeks }} weeks</span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>